cdk-virtual-scroll-viewport {
  border: 1px solid #999;
  height: 300px;
}

.item {
  height: 50px;
  line-height: 50px;
  border: 1px dashed green;
  text-align: center;
}

.item span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
